<body>

        <% include adminnav.ejs %>

        <br>
        <br>
        <br>
        <h1> Codewords</h1>

        <div class="container">
        <div id="accordion">
          <% for ( let i = 0; i < val.length; i++) {   
               codeword = val[i];   %>
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#<%=codeword.codeWordSetName %>" aria-expanded="true" aria-controls="collapseOne">
                                <%=codeword.codeWordSetName %>
                      </button>
                      <a href="/edit" style="float: right"> Edit</a>
                    </h5>
                    
                  </div>
              
                  <div id="<%=codeword.codeWordSetName %>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                    

                                <% for ( let i = 0; i < codeword.codewords.length; i++) {   
                                        codewordname = codeword.codewords[i];   %>
                                        <p> <%=codewordname%> </p>
                  
                                        <% } %>

                    </div>
                  </div>
                </div>
                <% } %>
         </div>
        </div>

</body>