<div class="container-fluid">
    
  <br>
  <h1> Instructor Dashboard</h1>
<div>
    <button type="button" class="btn btn-primary btn-lg" style="float:right;">Instructor Access</button>
</div>
<div class="container-fluid">
 
    <div class="card" style="max-width: 20rem max-h;">
    
    <div class="card-body">
    <h4 class="card-title"> Course Name</h4>
    
    <!-- Links -->
    <a href="#" class="card-link">Intial Survey Link</a>
    <a href="#" class="card-link">Final Survey Link </a>
      <br>
      <a href="#" class="btn btn-primary">  Codeword    </a>
    </div>
    
    </div>
    
    </div>

    </div>  

