<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <h2>Add CodeWord</h2>

    <form action="/action_page.php">
    <input type="submit" value="Back"><br>
      Enter the Codeword:<br>
      <p>               OR</P>
        <input type="file" name="lastname"placeholder="Upload Codeword File" value="Mouse">
        <br><br>
        <input type="submit" value="ADD">

    </form> 
</body>
