<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <h2>Add CodeWord</h2>

    <form action="/action_page.php">
    <input type="submit" value="Back"><br>
      Enter the Codeword:<br>


    </form> 
</body>
