<!-- <html>
  <head>

</head>
<body>
<div class="login-card">
    <h1>Forgot Password</h1><br>
  <form>
    <input type="text" name="user" placeholder="Enter your username">
  </form>
    
  <div class="login-help">
    <a href="#">Send and Email </a> 
  </div>
</div>
</body>
</html> -->
<h1>Forgot Password</h1>
<!-- <form action ='/fpwd' method='POST'>
  <input type ="text" name="Email Id" placeholder ="Email-Id">
  <input type="button" name="link">

</form> -->
