<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>
      <br>
      <h3>CodeWords application.</h3>
      <p>Create GET requests using the address bar.</p>
      <p>This application describes about the codewords application </p>
    </div>
  </div>
</div>