<h1>Register</h1>
<form action ='/register' method ="POST">
    <!-- <div>
        <label for ="name">Name</label>
        <input type='text' id ="name" required >
    </div>
    <div>
        <label for ="email">Email</label>
        <input type='text' id ="email" required >
    </div>
    <div>
        <label for ="pasword">Pasword</label>
        <input type='text' id ="Pasword" required >
    </div>
    <div>
        <button  type ="button">Register</button>
    </div> -->
    <input type="text" name= "name" placeholder ="Name"><br>

<input type="text" name="email" placeholder="Email ID "><br>
    <input type="password" name="pass" placeholder="Password"><br>
    <input type="password" name ="re-pass" placeholder="Confirm Password"><br>
    <input type="submit" name="login" class="login login-submit" value="Register"><br>
</form>
<label  for="account">Already Have a account </label>
<a href ='/login'>Login </a>