<% include header %>
<body>

<form action ='/student' method ="POST">
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">AllCourses</a></li>
        <li><a href="#">Current</a></li>
        <li><a href="#">Completed</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h3>Student Dashboard</h3>
    <div class="row">
      <div class="col-md-4">
        Course1 
      </div>
      <div class="col-md-4">
        Course 2
      </div>
      <div class="col-md-4">
        Course 3
      </div>
    </div>
  </div>
  </body>
