<% include header %>
<body>
    <div class="container">
        <div class="row">
    
            <div class="col-sm-8">        
  <h1 style="line-height:6em">
    Student Dashboard
    </h1>
  </div>
  <div class="col-sm-4"> 
      <button style = "position:absolute; left:80px; top:105px;" type="button" class="btn btn-primary">Request Instructor Privelege</button>
</div>
</div>
</div>
<div class="container">
    <div class="row">
<div class="card" style="width: 18rem;">
    <div class="card-body"> 
      <h5 style=" position: absolute; right:120px;" class="card-title">ADB</h5><br> <br> <br>
      </div>
      <div>
     &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="#" class="btn btn-primary">Reveal Codeword</a></div><br><br><br>
      <div>
      <a href = "#" >Start Survey Link</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href = "#" >End Survey Link</a>
    </div>
      </div>

    </div>
     
    </div>
  

</body>